= content_tag_for(:li, conversation) do |conversation|
  %p
    = link_to conversation.subject, conversation_path(conversation)
    |
    - if conversation.is_completely_trashed?(current_user)
      = link_to 'Untrash', untrash_conversation_path(conversation), method: :post
    - else
      = link_to 'Move to trash', trash_conversation_path(conversation), method: :post
